body
{
  background-color: #66ffd9;
}

#wrapper{
  column-count: 3
  display:inline-block;
  float:left;
}
#leftImage
{
float: left;
padding: 10px;
}
#rightImage
{
float: right;
padding: 10px;
}
#centerImage
{
display: inline-block;
padding: 10px;
}
ul
{
  font-size: 16px;
}
