body
{
  animation: pulse 5s infinite;


  }

  @keyframes pulse {
    0% {
      background-color: #FAA0CF;
    }
    100% {
      background-color: #FDDF0A;
    }
  }

#wrapper{
  column-count: 3
  display:inline-block;
  float:left;
}
#leftImage
{
float: left;
padding: 10px;
}
#rightImage
{
float: right;
padding: 10px;
}
#centerImage
{
display: inline-block;
padding: 10px;
}
ul
{
  font-size: 16px;
}
